.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "form form criteria"
    "result result criteria"
    "suggestions suggestions criteria"
    ". . criteria";
  gap: 3rem;
  margin: 3rem;
}

.form {
  grid-area: form;
}

.resultWrapper {
  grid-area: result;
}

.criteria {
  grid-area: criteria;
}

.suggestionsWrapper {
  grid-area: suggestions;
}

.resultWrapper, .suggestionsWrapper {
  display: flex;
  gap: 3rem;
}

.result, .suggestions {
  flex: 1;
}
