<main class="main">
  <app-immu-form
    (immuWsProvided)="onImmuWsProvided($event)"
    class="form"
  ></app-immu-form>
  <div class="resultWrapper">
    @for (result of results(); track result.title) {
    <app-immu-result
      class="result"
      [immuResult]="result.result"
      [headerText]="result.title"
    ></app-immu-result>
    }
  </div>
  <div class="suggestionsWrapper">
    @for (suggestion of suggestions(); track $index) {
    <app-immu-suggestions
      class="suggestions"
      [suggestions]="suggestion"
    ></app-immu-suggestions>
    }
  </div>
  <app-immu-criteria class="criteria" [criteria]="criteria"></app-immu-criteria>
</main>
